.main {

    &__container {
        max-width: 430px;
        width: 100%;
        height: auto;
        padding: 32px;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #e7e8eb;
        border-radius: 12px;
        line-height: 1.3;

        &-pretitle {
            font-size: 14px;
            color: #9ea2b0;
        }

        &-title {
            font-size: 26px;
            color: #0d173a;
            margin-bottom: 24px;
        }

        &-form {
            display: flex;
            flex-direction: column;
            gap: 24px;

            &--label {
                color: #0d173a;
                font-size: 14px;
            }

            &--input {
                width: 100%;
                height: 46px;
                border: 1px solid rgba($color: #9ea2b0, $alpha: .3);
                border-radius: 8px;
                padding-left: 35px;

                &::placeholder {
                    color: rgba($color: #9ea2b0, $alpha: .5);
                    font-weight: 600;
                }
            }

            &--reset {
                color: #3873ff;
                font-size: 14px;
                display: block;
                text-align: right;
                margin-top: 5px;
            }

            .input {
                position: relative;

                svg {
                    position: absolute;
                    fill: #9EA2B0;
                    left: 10px;
                    transform: translateY(-50%);
                    top: 50%;
                }
            }
        }
    }

    &__logo {
        display: block;
        margin: 0 auto;
        max-width: 180px;
        width: 100%;
        cursor: pointer;
        margin-bottom: 32px;
    }
}